.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header input {
    background-color: #475569;
    border: none;
    color: white;
    width: 250px;
    padding: .5rem;
}

.header input:focus{
    outline: none;
}

.header input::placeholder{
    font-size: 16px;
}

.btn{
    padding: .5rem 2rem;
    border: none;
    background-color: #475569;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.btn:hover{
    background-color: #333f50;
    transition: all .3s ease;
}